# Binaries
bin/
build/bin/
*.exe
*.dll
*.so
*.dylib

# Wails
gostman-gui/build/bin/
gostman-gui/frontend/dist/
gostman-gui/frontend/node_modules/

# IDEs
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Logs
*.log
